<!doctype html>
<html lang="en-US" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head th:replace="layout :: site-head">
    <meta charset="utf-8"></meta>
    <meta http-equiv="Content-Type" content="text/html"></meta>
    <title>Pedidos</title>
</head>
<body>
<header th:replace="layout :: site-header"/>

<div th:replace="layout :: lista-pedido">
    Pedido
</div>
<div class="container">
    <h1>Agrega Pedido</h1>
    <form action="#" th:action="@{/pedido/addPedido}" th:object="${pedidoE}" method="post">
        <table>
            <tr>
                <td>
                    <input type="text" th:field="${pedidoE.solicitante}" placeholder="Solicitante"/>
                </td>
                <td>
                    <p th:if="${#fields.hasErrors('solicitante')}" th:errors="*{solicitante}">Error en Solicitante</p>
                </td>
            </tr>
            <tr>
                <td>
                    <input type="text" th:field="${pedidoE.areaSolicita}" placeholder="Área del Solicitante"/>
                </td>
                <td>
                    <p th:if="${#fields.hasErrors('areaSolicita')}" th:errors="*{areaSolicita}">Error en Área
                        Solicitante</p>
                </td>
            </tr>
            <tr>
                <td>
                    <input type="text" th:field="${pedidoE.unidadSolicita}" placeholder="Unidad del Solicitante"/>
                </td>
                <td>
                    <p th:if="${#fields.hasErrors('unidadSolicita')}" th:errors="*{unidadSolicita}">Error en Unidad del
                        Solicitante</p>
                </td>
            </tr>
            <tr>
                <td>
                    <input type="text" th:field="${pedidoE.estado}" placeholder="Estado"/>
                </td>
                <td>
                    <p th:if="${#fields.hasErrors('estado')}" th:errors="*{estado}">Error en estado</p>
                </td>
            </tr>

        </table>
        <!--     <p th:text="${#date.format(*{created},'yyyy-MM-dd')}"></p>  -->

        <!-- /* Tabla para los items del pediod, en renglones   */-->
        <div class="seedstarterlist">
            <table>
                <thead>
                <tr>
                    <th th:text="#{pedido.items.item}">Artículo</th>
                    <th th:text="#{pedido.items.cantidad}">Cantidad</th>
                    <th th:text="#{pedido.items.costounitario}">Costo Unitario</th>
                    <th th:text="#{pedido.items.tipoguia}">Tipo de guía</th>
                    <th th:text="#{pedido.items.id}">Clave</th>
                    <th th:text="#{pedido.items.idinventario}">Inventario</th>

                </tr>
                <tr>
                    <td>
                        ---
                    </td>
                    <td>
                        <input type="text" th:field="${itemagregar.cantidad}" placeholder="Cantidad requerida"/>
                    </td>
                    <td>
                        ---
                    </td>
                    <td>
                        ---
                    </td>
                    <td>
                        ---
                    </td>
                    <td>
                        <select th:field="${itemagregar.idInventario}">
                            <option th:each="inventarioDisponible : ${listaInventarioDisponible}"
                                    th:value="${inventarioDisponible.id}"
                                    th:text="${inventarioDisponible.id + ', '+ inventarioDisponible.tipoGuia +
                                ', Disponible:'+inventarioDisponible.cantidadDisponible}">opcion
                            </option>
                        </select>
                    </td>
                    <td>
                        <button type="submit" name="addRow" th:text="#{pedido.boton.agregaItem}">Add row</button>
                    </td>
                </tr>

                </thead>
            </table>
        </div>
        <input type="submit" value="Agregar"/>
    </form>
</div>
<footer th:replace="layout :: site-footer"/>
</body>
</html>
