<!doctype html>
<html lang="en-US" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head th:replace="layout :: site-head">
    <meta charset="utf-8"></meta>
    <meta http-equiv="Content-Type" content="text/html"></meta>
    <title>Agrega tipo de guía2</title>
</head>
<body>
<header th:replace="layout :: site-header"/>
<div th:replace="layout :: lista-guias">
    Lista de guías
</div>
<div class="container">
    <h1>Agrega tipo de guía al catálogo</h1>
    <form action="#" th:action="@{/guia/addTipoGuia}" th:object="${tipoGuiaE}" method="post">
        <table>
            <tr>
                <td>
                    <input type="text" th:field="${tipoGuiaE.tipoGuia}" placeholder="Tipo de guía (número entero)"/>

                </td>
                <td>
                    <p th:if="${#fields.hasErrors('tipoGuia')}" th:errors="*{tipoGuia}">Clave incorrecta</p>
                </td>
            </tr>
            <tr>
                <td>
                    <input type="text" th:field="${tipoGuiaE.nombreGuia}" placeholder="Nombre de la guía"/>
                </td>
                <td>
                    <p th:if="${#fields.hasErrors('nombreGuia')}" th:errors="*{nombreGuia}">Nombre incorrecto</p>
                </td>
            </tr>
            <tr>
                <td>
                    <input type="text" th:field="${tipoGuiaE.imagenPortada}" placeholder="Imagen de la portada"/>
                </td>
                <td>
                    <p th:if="${#fields.hasErrors('imagenPortada')}" th:errors="*{imagenPortada}">Portada incorrecta</p>
                </td>
            </tr>
            <tr>
                <td>
                    <input type="text" th:field="${tipoGuiaE.isbn}" placeholder="ISBN"/>
                </td>
                <td>
                    <p th:if="${#fields.hasErrors('isbn')}" th:errors="*{isbn}">isbn incorrecto</p>
                </td>
            </tr>
            <tr>
                <td>
                  <!--  <input type="textarea" th:field="${tipoGuiaE.caracteristicas}" placeholder="Características generales"/> -->
                    <p><textarea th:field="*{caracteristicas}" placeholder="Características generales"></textarea></p>
                </td>

                <td>
                    <p th:if="${#fields.hasErrors('caracteristicas')}" th:errors="*{caracteristicas}">caraceristicas incorrecto</p>
                </td>
            </tr>

        </table>

        <!--     <p th:text="${#date.format(*{created},'yyyy-MM-dd')}"></p>  -->
        <input type="submit" value="Agregar"/>
    </form>
</div>
<footer th:replace="layout :: site-footer"/>
</body>
</html>
